#temporary files
*~
metamod/.vs/*
metamod/UpgradeLog.htm
metamod/UpgradeLog2.htm
metamod/UpgradeLog3.htm
*.obj
*.tlog
*.ipch
metamod/Debug/*
metamod/Release/*
*.dll
*.rsp
*.i
*.cfg
*.cmd
doc/package_template/liblist.gam
doc/package_template/addons/metamod/config.ini
doc/package_template/addons/metamod/plugins.ini
